// @import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,800&display=swap');

/* colors*/
$verde: #4FBFA3;
$celeste: #8A9FBA;
$rosso: #D33B2D;
$blu: #2d5fd3;
// $carta: #E9E5DA;
$carta: #EEEAE2;
$viola: #7e68a1;

$nrj: #EC391D;
$zucchero: #84A2BE;
$cyanotype: #0748AE;

$neutro: #EBE7DB;
$neutro: #faf6e9;
$neutro_2: #EBE3D8;
$neutro_2: #eefafa; // f3fae9
$neutro_3: #fafaee; // eefafa
$neutro_g: #e2e2e2;

$neutro_4: #dbdcea;

$verde_light: #DBE0CC;
$carta_light: #E0D7BA;
$celeste_light: #badfe0;
$rosso_light: #e0baba;
$lattementa: #ecffeb;

.bg_neutro{background-color: $neutro;}
.bg_neutro_2{background-color: $neutro_2;}
.bg_neutro_3{background-color: $neutro_3;}
.bg_neutro_4{background-color: $neutro_4;}
.bg_neutro_g{background-color: $neutro_g;}

.bg_verde_light{background-color: $verde_light;}
.bg_carta_light{background-color: $carta_light;}
.bg_celeste_light{background-color: $celeste_light;}
.bg_rosso_light{background-color: $rosso_light;}

.bg_carta{background-color: $carta;}

.bg_verde{ background-color: $verde;}
.bg_rosso{ background-color: $rosso;}
.bg_blu{ background-color: $blu;}
.bg_celeste{ background-color: $celeste;}
.bg_carta{ background-color: $carta;}
.bg_viola{ background-color: $viola;}

.bg_lattementa {background-color: $lattementa;}
.bg_nrj{background-color: $nrj;}
.bg_zucchero{background-color: $zucchero;}
.bg_cyanotype{background-color: $cyanotype;}

.bg_dark{ background-color: #333;}

.rosso{ color: $rosso;}


/* typography */

html {
    font-size: 18px;
    font-family: 'Bitter', serif;
    box-sizing: border-box;
}

body {
    line-height: 1.5rem;
    padding: 0;
    margin: 0;
    background-color: #fafafa;
    background-color: #E9E5DA;
    background-color: $carta;
    color: #333;

    -webkit-font-smoothing: antialiased; /* Chrome, Safari */ 
    -moz-osx-font-smoothing: grayscale; /* Firefox */ 
    
        -moz-font-feature-settings: "kern" 1; 
    -ms-font-feature-settings: "kern" 1; 
    -o-font-feature-settings: "kern" 1; 
    -webkit-font-feature-settings: "kern" 1; 
    font-feature-settings: "kern" 1; 
    font-kerning: normal;
}

p{
    font-weight: 300;
    margin-bottom: 1.5rem;
    margin-top: 0;
    line-height: 1.5rem;

    &.bigger{
        font-size: 2em;
        line-height: 1.25em;
        font-weight: 200;

        clear: both;
    }


}

h1{
    font-weight: 800;
    font-size: 6rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    line-height: 6rem;
}

h2{
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
    line-height: 1em;
}

h3{
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
    line-height: 6rem;

    span{
        font-weight: 800;
        color: $verde;
        color: $nrj;
        margin-left: 2px;
        font-size: 1.2em;
    }
}

h4{
    font-size: 1.5rem;
    span{
        font-weight: 300;
    }
}

h6{
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
}

hr{
    border-color: rgba(0,0,0,0.2);
    margin-bottom: 1.5rem;
}

.bg_test{
    background-image: url("../img/riga_27.png");
  background-repeat: repeat;
  // background-color: #cccccc;
}

/* containers */

.splash{
    background-color: $carta;
    height: calc(100vh - 120px);
}

.q{
    min-height: 240px;
    box-sizing: border-box;
}

.text_right{
    text-align: right;
}

.container{
    width: 960px;
    margin: auto;
}

img{
    max-width: 100%;
    height: auto;
}

.main_grid{
    display: grid;
    grid-gap:0px 0px;
    grid-template-columns: 960px 1fr;

    .extra{
        height: 100vh;
        background-color: #fff;
        width:100%;
       /* background-color: $neutro_2; */

        position: -webkit-sticky;
        position: sticky;
        
        top: 0px;

        svg{
            width: 100%;
            height: 100%;
        }
    }

}

.content_grid{
    display: grid;
    grid-gap: 27px;
    grid-template-columns: 1fr 3fr;

    .logo{
        p{
            text-align: right;
            margin-top: 0.8rem;
            font-style: italic;
        }
      
    }

    nav{

        display: grid;
        grid-template-columns: 3fr 2fr 2fr 3fr;
        margin-bottom: 1rem;


        h4{
            font-weight: 300;
            font-size: 1rem;
            font-style: italic;
        }

        h3{
            font-weight: 300;
            line-height: 0.95em;
            font-size: 1.5rem;
            margin-top: 0.66rem;

            strong{
                font-weight: 700;
            }

           

            
        }
        p{
           // float: right;
            margin-top: 1rem;
            font-size: 16px;
            font-style: italic;
            text-align: right;

            grid-column: 5;
         
        }

        img{
            max-width: 82px;
            height: auto;
            
        }

        ul{
            margin: 0;
            padding: 0;
            font-weight: 300;
            list-style-type: none;
            color: #333;
            font-style: italic;

            li{
                display: inline;
                color: #999;
                   

                a{
                    text-decoration: none;
                    color: inherit;
                    color: #333;
                   

                    &::after{
                        content: " /";
                        padding-right: 0.25rem;
                        color: #333;
                        opacity: 0.333;
                    }
                }
            }
           
        }
    }

    section, nav{
        margin-right: 3rem;
    }

    header{
        grid-column: span 2;
    }

    article{
        grid-column-start:2;
        margin-right: 3rem;
    }

    section{
        grid-column: 1 / span 2;
    }

    figure{
        padding: 0;
        margin: 0;

        // margin-top: 3rem;
        margin-bottom: 1.5rem;
        margin-right: -3rem;
        // margin-left: -3rem;

        figcaption{
            font-weight: 300;
            color: #333;
            font-style: italic;
           // margin-left: 3rem;
        }
    }
}

.modular_grid{
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(8, 1fr);

    margin-left: 1.5rem;
    margin-right: 1.5rem;

    article.wide{
        grid-column: 2 / span 7;
        // margin-right: 3rem;
    }

    article.side{
        grid-column: 3 / span 6;
        // margin-right: 3rem;
    }

    div.logo{
        grid-column: 1 / span 2;
        padding-left: 18px;
        padding-right: 18px;
    }

    article.c1{
        grid-column: 3 / span 3;
        margin-right: 3rem;
    }

    article.c2{
        grid-column: 6 / span 3;
        margin-right: 3rem;
    }

    div.doble{
        grid-column: auto / span 2;
       // padding: 1.5rem;
    }

}

.strip{
    display: grid;
    grid-gap:0px 0px;

    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.card{
    padding: 0 1.5rem;
   //  border-right: none;
   
  
   // padding-bottom: 1.5rem;
   
}

.strip_img{
    display: grid;
    grid-gap:  3px 3px;
    grid-template-columns: repeat(auto-fit, 240px) ;

    margin-left: 1.5rem;
    div{
        // border-right: solid 3px $neutro;
        background-color: #fff;
        img{
           //  border-top: solid 1px #333; 
           //  border-bottom: solid 1px #333; 
        }

        h4{
            margin-bottom: 1.5rem;
            margin-top: 1.5rem;
        }
    }
   
}

.padded{
   padding: 1.5rem
}

.padded_sides{
    padding: 0  1.5rem;
}

.smaller{
    p{
        font-size: 15px;
        color: #000;
        line-height: 1.5em;
        margin-bottom: 1.5em;
        
        strong{
            font-weight: 700;
        }
    }
}

.reverse{
    color: #fff;
    p{
        font-weight: 400;
        color: #fff;
    }
    
}

#clients, #otro{
    h4{
        font-weight: 800;
        margin-top: 0.5rem;
    }
}

#projects{
    box-sizing: border-box;
    h4{
        font-weight: 800;
        margin-top: 0.5rem;
    }

    .prj_grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        div{
            background-color: #fff;
            border-right: solid 1px $carta;
            border-bottom: solid 1px $carta;

            img{
                margin-bottom: 1.5rem;
            }
        }
    }
}

#clientes{
   
    display: grid;
    grid-gap: 3rem;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    margin-top: 4.5rem;

    // margin-right: 1.5rem;
    // margin-left: 1.5rem;

    h4{
        font-weight: 800;

        span{
            color: $verde;
            font-weight: 800;
        }
    }
    

    div{
        align-self: center;
        // padding: 1.5rem 1.5rem ;
    }

    img{
        filter: grayscale(100%);
    }
}


// project detail
.image_gallery_grid{
    display: grid;
    grid-template-columns: 240px 960px 1fr;

   
}


.logo_holder{

    max-width: 33.333%;
    margin-right: auto;
    margin-left: auto;
    

    img{
        filter: grayscale(100%);
        padding-top: 1.5rem;
       
        
    }
}

.client_desc{
    // margin-bottom: 3rem;
    // border-top: dotted 1px rgba(0,0,0,.333);
     padding-top: 3rem;
     padding-bottom: 1.5rem;
     padding-right: 3rem;

     grid-column: auto / span 2;

   
}

.content_grid section.image_gallery{
    margin-right: 0;
    // margin-bottom: 3rem;

    display: grid;
    grid-template-rows: masonry;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 12px;
    box-sizing: border-box;

    

    padding: 0.75rem;

    img{
       // border: solid 2px $carta;

        &:hover{
            border-color: #000;
        }
    }

    

    .q2{
        grid-column: auto / span 2;
        grid-row: auto / span 2;

        height: 100%;
        object-fit: cover;
    }

    .h3{
        grid-column: auto / span 3;
        grid-row: auto / span 2;

        height: 100%;
        object-fit: cover;
    }

    .v2{
        grid-column: auto / span 2;
        grid-row: auto / span 3;

        height: 100%;
        object-fit: cover;
    }

    
}

.section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

/* us */

.two_desc{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

   

    h4{
      
        margin-bottom: 0.75rem;
        margin-top: 3rem !important;
    }

   
}

/* footer */

footer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    // column-gap: 27px;

    padding-bottom: 3rem;
    padding-top: 3rem;

    background-color: $zucchero;
    background-color: $cyanotype;
    color: #fff;

    div.footer_logo{
        width: 33.333%;
        margin-left: auto;
        margin-right: auto;

        

        img{
            margin-bottom: 1rem;
        }

        p{
            margin-bottom: 0;
            font-size: 0.8rem;
            font-style: italic;
            line-height: 1rem;
        }

        h3{
            font-weight: 300;
            line-height: 1em;
            font-size: 1.25rem;
            margin-top: 0;

            strong{
                font-weight: 700;
            }

           

            
        }


    }

    nav{
        grid-column: auto / span 2;
        padding-left: 1rem;
        border-right: solid 1px rgba(255,255,255,.33);
        border-left: solid 1px rgba(255,255,255,.33);

        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;

            li{

                &.active{
                    font-weight: 800;
                }
                a{
                    text-decoration: none;
                    display: block;
                    color: inherit;
                }
            }
        }
    }

    div.social{
        padding-left: 1rem;
    }
}